<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
    <style>
        .main-wrapper {
            position: absolute;
            margin: auto;
            top: 25%;
            left: 30%;
            width: 40%;
            height: 50%;
            border-style: solid;
            padding: 2.5rem 2.5rem 2.7rem;
            height: auto;
            color: white;
            align-items: center;
            border-color: #e01949;
        }

        input:checked+div {
            text-decoration: line-through;
            text-decoration-color: #e01949;
        }

        .center {
            background: #e01949;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            text-align: center;
        }
        .main-head{
            position: absolute;
            margin: auto;
            left: 35%;
            width: 30%;
            color: aliceblue;
            border-color: #e01949;
            border-style: solid;
        }
    </style>
</head>

<body style="background-color: black;">
    <br><br>
    <div class="main-head"><%=isday%></div>
    <div class="main-wrapper">
        <% for (var i=0; i < inpVal.length ; i++) { %>
            <div style="border-style: solid; border: thin;border-color: antiquewhite;">
                <input type="checkbox" name="chk" style="float: left;">
                <div>
                    <%= inpVal[i] %>
                </div>
            </div> <br>
            <% } %>
                <form action="/" method="post">
                    <input type="text" placeholder="Enter value" name="inpVal" autocomplete="off">
                    <div>
                        <div style="float: left;">
                            <input type="submit" name="action" value="+" class="center" style="color: white; font-size: 50px;text-align: center;"/>
                        
                        </div>

                        <div>
                            <input type="submit" name="action" value="-" class="center" style="color: white; font-size: 50px;"/>
                        
                        </div>
                    </div>
                    
                    <!-- <button type="submit" style="background-color: black;"><div class="center">+</div></button>
                    <button type="submit" style="background-color: black;"><div class="center">Clear</div></button> -->
                </form>
                

    </div>
</body>

</html>
